

  <div class="puzzle-container">
    <div class="left-panel">
      <img src="assets/images/games/parrot1.png" draggable="true" (dragstart)="onDragStart($event, 'image1')">
      <img src="assets/images/games/parrot2.png" draggable="true" (dragstart)="onDragStart($event, 'image2')">
    </div>
    <div class="center-panel">
      <div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'image1')"></div>
      <div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'image2')"></div>
      <div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'image3')"></div>
      <div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'image4')"></div>
    </div>
    <div class="right-panel">
      <img src="assets/images/games/parrot3.png" draggable="true" (dragstart)="onDragStart($event, 'image3')">
      <img src="assets/images/games/parrot4.png" draggable="true" (dragstart)="onDragStart($event, 'image4')">
    </div>
  </div>
  <div *ngIf="showResponseMessage" class="response-message">
    <p>{{ feedbackMessage }}</p>
  </div>
  